/* Green Color - 01e60c, 01e301, 23c937, 26de33, 18e222 */

.header{
	background:#01e60c;
	border-bottom:1px solid #01e301;
}

.mattblackmenu ul {
	background: #01e60c;
}

.mattblackmenu li a{
	background:#26de33;
	border-top:2px solid #23c937;
	border-bottom:2px solid #23c937;
}

.mattblackmenu li a:hover{
	background:#23c937;
}

.mattblackmenu a.selected {
	background: #23c937;
}

.ddsubmenustyle{
	border-left:1px solid #23c937;
	border-right:1px solid #23c937;
	border-top:1px solid #23c937;	
}

.ddsubmenustyle li a {
	background:#18e222 !important;
	border-bottom:1px solid #23c937;
}

.ddsubmenustyle li a:hover {
	background: #23c937 !important;
}

.my_carousel .carousel_nav a{
	background:#01e60c;
}

.my_carousel li .carousel_caption{
	background:#01e60c;
}

.footer {
	border-top:3px solid #01e60c;
}

.main .tblue{
	color:#01e60c;
}

.about .asocial i{
background:#01e60c;
}

.sidebar .widget i.icon-envelope{
	color:#01e60c;
}

.sidebar .widget i.icon-user{
	color:#01e60c;
}

#portfolio .pcap{
	border-bottom:3px solid #01e60c;
}

.main .ser-item i{
	color:#01e60c;
}

.blog .posts .post-meta{
	background:#01e60c;
}





